<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-background-secondary; top: 200">
    <nav class="uk-navbar-container">
        <div class="uk-navbar-left">
            <a class="uk-navbar-toggle" href="#">
                <span uk-navbar-toggle-icon></span>
                <span class="uk-margin-small-left">Menu</span>
            </a>
        </div>
    </nav>
</div>
<% if (positions.section1){for (var i = 0; i < positions.section1.length; i++ ){ %>
    <%- positions.section1[i] %>
<% }} %>
</body>
</html>
